services:
  api:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      # These might be optional if passed via headers, but good to keep if used as defaults
      - RENAULT_EMAIL=${RENAULT_EMAIL}
      - RENAULT_PASSWORD=${RENAULT_PASSWORD}
    volumes:
      - ./.env:/app/.env
